{% block paragraph %}
  <div class="ds-item ds-lpb-text">
    {% block content %}
      <div class="style-wrapper">
        {{ content.field_drusys_html_text }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}


